<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form" id="form2">
                <div class="layui-form-item">
                    <label for="L_username" class="layui-form-label">
                        <span class="x-red">*</span>用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_username" name="username" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                </div>
                <div class="layui-form-item">
                    <label for="L_mobile" class="layui-form-label">
                        <span class="x-red">*</span>手机号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_mobile" name="mobile" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                </div>
                <div class="layui-form-item">
                    <label for="L_code" class="layui-form-label">
                        <span class="x-red">*</span>验证码</label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_code" name="code" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    <input value="发送验证码" lay-submit lay-filter="send" type="button" class="layui-btn" id="send_code">
                </div>
                <div class="layui-form-item">
                    <label for="L_mobile" class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="save" lay-submit="" type="button">确定</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        layui.use(['form', 'layer'], function() {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            $(document).ready(function(){
                var ordertime = 60;                 //设置再次发送验证码等待时间
                var timeleft = ordertime;
                var btn = $("#send_code");

                //计时函数
                function timeCount(){
                    timeleft-=1
                    if (timeleft>0){
                        btn.attr("disabled", true);
                        btn.val(timeleft+" 秒后可重发");
                        setTimeout(timeCount,1000)
                    }
                    else {
                        btn.attr("disabled", false);
                        btn.val("重新发送");
                        timeleft=ordertime   //重置等待时间
                        btn.removeAttr("disabled");
                    }
                }

                $('#send_code').on('click', function() {
                    var username = $("#L_username").val();
                    var mobile = $("#L_mobile").val();
                    $("#L_code").attr("lay-verify", false);
                    $.ajax({
                        type : "POST",
                        url : "sendme",
                        data : $('#form2').serialize(),
                        dataType : "json",
                        success : function(state){
                            if (state == "1") {
                                layer.msg("验证码发送成功");
                                timeCount(this);
                            } else if (state == "2"){
                                layer.msg("验证码发送失败");
                            }  else {
                                layer.msg("用户名或手机号码错误");
                            }
                        },
                        error:function(XMLHttpRequest, textStatus){
                            alert("状态代码：" + XMLHttpRequest.status
                                + "  状态信息：" + textStatus
                                + "  请联系管理员解决");
                        }
                    });
                })
            })

            // 监听提交
            form.on('submit(save)', function(data) {
                var username = $("#L_username").val();
                var mobile = $("#L_mobile").val();
                var code = $("#L_code").val();
                $.ajax({
                    type : "POST",
                    url : "comparecode",
                    data : $('#form2').serialize(),
                    dataType : "json",
                    success : function(state){
                        if (state == "1") {
                            window.location.href="member-password"
                        } else if (state == "2") {
                            layer.msg("验证码错误");
                        } else {
                            layer.msg("请按<发送验证码>按钮进行操作");
                        }
                    },
                    error:function(XMLHttpRequest, textStatus){
                        alert("状态代码：" + XMLHttpRequest.status
                            + "  状态信息：" + textStatus
                            + "  请联系管理员解决");
                    }
                });
            });

        });
    </script>
    </body>

</html>